@page "/map/{MapId:int}/{Version?}/{X?}/{Y?}/{Z?}"
@using Minimaps.Frontend.Components.Layout

<div data-page-module="/js/dist/map-viewer.js" data-page-init="MapViewerInit"></div>

<div class="map-viewport">
    <canvas id="map-canvas"></canvas>
    <div id="map-footer-overlay" class="footer-overlay">
        <span class="debug-tilemap"></span>
        <span>| <a href="https://github.com/jimbomcb/wow-minimaps">Minimap Explorer</a> By John McBroom | Map Data © Blizzard Entertainment</span>
    </div>
</div>
    
@code {
    [Parameter] public int MapId { get; set; }
    [Parameter] public string? Version { get; set; }
    [Parameter] public string? X { get; set; }
    [Parameter] public string? Y { get; set; }
    [Parameter] public string? Z { get; set; }
}