<nav class="nav-bar">
    <div class="nav-container">
        <a class="brand" href="">Minimap Explorer</a>
        
        <ul class="nav-list">
            <li class="nav-item">
                <NavLink class="nav-link" href="map/0" Match="NavLinkMatch.All">Map Viewer</NavLink>
            </li>
        </ul>
    </div>
</nav>

