name: Build and Deploy

on:
  push:
    branches: [ main ]

env:
  REGISTRY: do-frontend-01.tail6250e.ts.net:5000
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Connect
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
      - name: Connection Status
        run: |
          tailscale status
          ping -c 3 do-frontend-01.tail6250e.ts.net
      - name: Log in
        run: |
          echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login do-frontend-01.tail6250e.ts.net:5000 -u "${{ secrets.REGISTRY_USERNAME }}" --password-stdin
      
      - name: Build and push Frontend image
        run: |
          docker build -t do-frontend-01.tail6250e.ts.net:5000/wow-minimaps-frontend:${{ github.sha }} -t do-frontend-01.tail6250e.ts.net:5000/wow-minimaps-frontend:latest -f Minimaps.Frontend/Dockerfile .
          docker push do-frontend-01.tail6250e.ts.net:5000/wow-minimaps-frontend:${{ github.sha }}
          docker push do-frontend-01.tail6250e.ts.net:5000/wow-minimaps-frontend:latest
