name: Build and Deploy
on:
  workflow_dispatch:
    inputs:
      build_label:
        description: 'Build label'
        required: true
        type: string
      
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal
        
  build-and-push:
    needs: test
    runs-on: ubuntu-latest    
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true          
      - name: Networking
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
          ping: docker-registry.tail6250e.ts.net
          version: latest          
      - name: Log in to Registry
        run: |
          echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login docker-registry.tail6250e.ts.net:5000 -u "${{ secrets.REGISTRY_USERNAME }}" --password-stdin      
      - name: Build and push Frontend image
        run: |
          docker build -t docker-registry.tail6250e.ts.net:5000/wow-minimaps-frontend:${{ github.sha }} \
                       -t docker-registry.tail6250e.ts.net:5000/wow-minimaps-frontend:${{ inputs.build_label }} \
                       -t docker-registry.tail6250e.ts.net:5000/wow-minimaps-frontend:latest \
                       -f Minimaps.Frontend/Dockerfile .
          docker push docker-registry.tail6250e.ts.net:5000/wow-minimaps-frontend:${{ github.sha }}
          docker push docker-registry.tail6250e.ts.net:5000/wow-minimaps-frontend:${{ inputs.build_label }}
          docker push docker-registry.tail6250e.ts.net:5000/wow-minimaps-frontend:latest
